<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Animals</title>
  </head>
  <body>
    <h1><%=type%> animals</h1>
    <ul>
      <% for(let animal of animals){ %>
      <li><a href="/animals/<%=animal._id %>"><%= animal.name %></a></li>
      <% } %>
    </ul>
    <% if(type !== 'all'){ %>
    <p><a href="/animals">View all animals</a></p>
    <% } %>
  </body>
</html>
